// ABOUT US

.about-us {
  padding-top: $size-padding;
  padding-bottom: $size-padding;
  background-color: $app-color-background;

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--item {
    width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    min-height: 290px;
    @include br-small;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:hover {
      @include shadow-hover;
    }
    &--image {
      flex-basis: 100%;
      width: 100%;
      height: 290px;
      position: relative;
    }
    &--title {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      flex-basis: 100%;
      text-align: center;
      @include headfont;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      h3 {
        display: flex;
        flex-wrap: wrap;
        font-size: $fontsize-h1;
        padding-right: $size-padding;
        text-align: left;
        flex-basis: 40%;
        span {
          flex-basis: 100%;
          color: $app-color-primary;
          .kalinza-icon {
            color: $app-color-primary;
            font-size: 0.85em;
          }
          font-size: 1.4em;
        }
      }
    }
  }

  .find-yours {
    h3 {
      text-align: right;
      color: $app-color-black;
      span {}
    }
  }
  .kalinza-faces {
    background: linear-gradient(to right, $app-color-primary-light, $app-color-primary);
    h3 {
      color: $app-color-white;
      span {
        color: $app-color-white;
      }
    }
  }

  // INFO BANNER

  &--info {
    margin-top: $size-padding;
    margin-bottom: $size-padding;
    &--wrapper {
      padding: $size-padding-large;
      background-color: $app-color-white;
      @include br-small;
      display: flex;
      justify-content: space-between;
    }
    &--text {
      padding-right: $size-padding-large;
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        color: $app-color-primary;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &--image {
      img {
        @include br-small;
      }
    }
  }

}
