// BLOG

.blog {
  padding-top: 30px;
  padding-bottom: 30px;

  &-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $size-padding-large;
    margin-bottom: $size-padding-small;
  }

  &--title {
    text-align: center;
    margin-bottom: 40px;
  }
  &--wrapper {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // BLOG ITEM

  &--item {
    flex-basis: calc(33.333% - 15px);
    display: flex;
    flex-wrap: wrap;
    &--image {
      flex-basis: 100%;
      min-height: 220px;
      max-height: 220px;
      position: relative;
      a {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
          @include br-small;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    &--date {
      margin-top: 10px;
      flex-basis: 100%;
      color: $app-color-gray-lighter;
      font-size: $fontsize-small;
    }
    &--title {
      margin-top: 10px;
      flex-basis: 100%;
      a {
        color: $app-color-black;
        text-decoration: none;
        &:hover {
          color: $app-color-black;
          text-decoration: underline;
        }
      }
    }
    &--summary {
      margin-top: 5px;
      flex-basis: 100%;
    }
    &--readmore {
      margin-top: 5px;
      flex-basis: 100%;
      display: flex;
      align-items: center;
      a {
        color: $app-color-primary;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .kalinza-icon {
        margin-left: 5px;
        color: $app-color-primary;
        font-size: 0.9em;
      }
    }
  }

  // BLOG DETAIL

  &--element {
    margin-bottom: 30px;
    &--title {
      margin-bottom: 30px;
      min-height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      h1 {
        color: $app-color-white;
      }
    }
  }

}
