// FILTER

.bx-filter {
  position: relative;
  margin-top: 60px;
  @media (max-width: map_get($grid-breakpoints, sm)) {
    display: none;
    margin-top: 10px;
    &.wrap {
      display: flex;
      @include shadow-hover;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      z-index: 1000;
      margin: 0;
    }
    .bx-filter-section {
      overflow-y: auto;
    }
  }

  &-close {
    display: none;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      display: flex;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 15px;
      left: 15px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      .kalinza-icon {
        width: 20px;
        height: 20px;
        color: $app-color-primary;
      }
    }
    &:hover {
      .kalinza-icon {
        color: $app-color-error;
      }
    }
  }

  &-popup-result {
    font-size: $fontsize-small !important;
    #modef_num {
      @include mediumfont;
    }
  }

  &-title {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      text-align: left;
      line-height: 1.1;
    }
  }

  .bx-filter-parameters-box {
    &-container {
      display: flex;
      flex-wrap: wrap;
      input {
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 5px;
        color: $app-color-black !important;
        background-color: $app-color-white !important;
        border: 1px solid $app-color-primary !important;
        &:hover {
          background-color: $app-color-primary !important;
          color: $app-color-white !important;
        }
      }
    }
    &-title {
      font-size: $fontsize-normal;
      @include mediumfont;
      span {
        color: $app-color-black;
        text-decoration: none;
      }
    }
    &-hint {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 0;
      color: $app-color-black;
      &:hover {
        border-bottom: 0;
      }
    }
  }

  .bx-filter-block {}

  .bx-filter-param-label {
    padding: 0;
    input:checked + .bx-filter-params-text {
      color: $app-color-black;
    }
    .bx-filter-param-text {
      color: $app-color-gray-light;
    }
    &.disabled {
      opacity: 0.2;
      pointer-events: none;
      text-decoration: line-through;
    }
  }

  // CHECKBOX

  .bx-filter-input-checkbox {
    overflow: visible;
    .bx-filter-param-text {
      padding-left: 25px;
      overflow: visible;
      &:hover {
        color: $app-color-primary;
      }
    }
    input[type="checkbox"] {
      + .bx-filter-param-text {
        background-image: url("../images/svg/checkbox-unchecked.svg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1em;
      }
      &:checked {
        + .bx-filter-param-text {
          color: $app-color-black;
          background-image: url("../images/svg/checkbox-checked.svg");
        }
      }
    }
  }

  // RADIO

  .bx-filter-input-radio {
    overflow: visible;
    .bx-filter-param-text {
      padding-left: 25px;
      overflow: visible;
      &:hover {
        color: $app-color-primary;
      }
    }
    input[type="checkbox"] {
      + .bx-filter-param-text {
        background-image: url("../images/svg/radio-unchecked.svg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1em;
      }
      &:checked {
        + .bx-filter-param-text {
          background-image: url("../images/svg/radio-checked.svg");
        }
      }
    }
  }

}

// MOBILE FILTER

.mobile-filter {
  flex-basis: 100%;
  width: 100%;
  display: none;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    .kalinza-icon {
      color: $app-color-black;
    }
  }
  @media (max-width: map_get($grid-breakpoints, sm)) {
    display: flex;
    align-items: center;
  }
  .kalinza-icon {
    margin-right: 5px;
    color: $app-color-primary;
  }
}

.bx-touch .bx-filter .bx-filter-popup-result {
  background-color: $app-color-active;
  color: $app-color-white;
  font-size: 17px !important;
  border-color: $app-color-active;
}
