// FILTER

.bx-filter {
  margin-top: 65px;

  .bx-filter-title {
    text-align: center;
  }

  .bx-filter-parameters-box {

  }

  .bx-filter-parameters-box-title {
    font-size: $fontsize-normal;
    @include mediumfont;
    span {
      color: $app-color-black;
      text-decoration: none;
    }
  }

  .bx-filter-parameters-box-hint {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
    color: $app-color-black;
    &:hover {
      border-bottom: 0;
    }
  }

  .bx-filter-block {}

  .bx-filter-param-label {
    padding: 0;
    input:checked + .bx-filter-params-text {
      color: $app-color-black;
    }
    .bx-filter-param-text {
      color: $app-color-border;
    }
  }

  // CHECKBOX

  .bx-filter-input-checkbox {
    overflow: visible;
    .bx-filter-param-text {
      padding-left: 25px;
      overflow: visible;
      &:hover {
        color: $app-color-primary;
      }
    }
    input[type="checkbox"] {
      + .bx-filter-param-text {
        background-image: url("../images/svg/checkbox-unchecked.svg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1em;
      }
      &:checked {
        + .bx-filter-param-text {
          color: $app-color-black;
          background-image: url("../images/svg/checkbox-checked.svg");
        }
      }
    }
  }

  // RADIO

  .bx-filter-input-radio {
    overflow: visible;
    .bx-filter-param-text {
      padding-left: 25px;
      overflow: visible;
      &:hover {
        color: $app-color-primary;
      }
    }
    input[type="checkbox"] {
      + .bx-filter-param-text {
        background-image: url("../images/svg/radio-unchecked.svg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1em;
      }
      &:checked {
        + .bx-filter-param-text {
          background-image: url("../images/svg/radio-checked.svg");
        }
      }
    }
  }

}
