// OFFERS

.offers {
  flex-basis: 27%;
  margin-left: 30px;
  &--wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &--certificate {
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    p {
      flex-basis: 65%;
      font-size: 1.1em;
      &:last-child {
        margin: 0;
        font-size: 0.95em;
        @include mediumfont;
      }
    }
    a {
      text-decoration: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      padding: 15px 20px;
      @include br-small;
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: none;
        color: $app-color-black;
        @include shadow-hover;
      }
    }
    .kalinza-icon {
      margin-right: 10px;
      color: $app-color-error;
    }
  }

  &--eye-test {
    position: relative;
    flex-basis: 100%;
    overflow: hidden;
    @include br-small;
    transition: all 0.3s ease-in-out;
    &:hover {
      @include shadow-hover;
    }
    a {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 15px 20px;
      color: $app-color-black;
      text-decoration: none;
      display: flex;
      &:hover {
        text-decoration: none;
      }
      img {
        position: absolute;
      }
    }
    p {
      flex-basis: 65%;
      font-size: $fontsize-h4;
      line-height: 1.2;
      @include mediumfont;
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        background-color: $app-color-primary;
        color: $app-color-white;
      }
    }

  }

}

.offers-add {

  &--wrapper {
    display: flex;
    justify-content: space-between;
  }
  &--item {
    flex-basis: calc(25% - 7px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $app-color-white;
    @include br-small;
    padding: 20px 40px;
    &--icon {
      .kalinza-icon {
        width: 42px;
        height: 42px;
        max-width: 42px;
        color: $app-color-primary;
      }
    }
    &--text {
      line-height: 1.2;
      font-size: 1.1em;
      margin-left: $size-padding-small;
    }

  }

}
