// POPULAR PRODUCTS

.popular-products {
  margin-top: $size-padding-large;
  margin-bottom: $size-padding-large;

  &--title {
    margin-bottom: $size-padding;
  }

  &--wrapper {
    width: 100%;
    > div {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
  }

  &--item {
    flex-basis: calc(25% - 20px);
    background-color: $app-color-white;
    margin: 20px 10px;
    @include br-small;
    transition: box-shadow 0.3s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover {
      @include shadow-hover;
    }
    .product > * {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

}
