// POPULAR PRODUCTS

.popular-products {
  margin-top: $size-padding-large;
  margin-bottom: $size-padding-large;

  &--title {
    margin-bottom: $size-padding;
  }

  &--wrapper {
    width: 100%;
    > div {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
  }

  &--item {
    flex-basis: calc(25% - 20px);
    margin: 20px 10px;
  }

  .product-item {

  }

}
