// PRODUCT

.product {
  display: flex;
  flex-wrap: wrap;
  > a {
    flex-basis: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    min-height: 200px;
    height: 200px;
    img {}
    &:hover {
      text-decoration: underline;
    }
  }
  > p {
    flex-basis: 100%;
    border-top: 1px solid $app-color-delimiter;
    padding-top: 10px;
    a {
      text-decoration: none;
      @include headfont;
      font-size: $fontsize-h5;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .price {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    .price_new {
      font-size: 1.15em;
      @include redularfont;
      color: $app-color-black;
      white-space: nowrap;
    }
  }
  .product-item-info-container {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    a.btn {
      background-color: $app-color-primary;
      &:hover,
      &:focus {
        background-color: $app-color-secondary;
      }
    }
  }

}


// PRODUCT ITEM

.product-item {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $app-color-white;
  margin-bottom: 20px;
  position: relative;
  @include br-small;
  height: calc(100% - 20px);
  @media (max-width: map_get($grid-breakpoints, sm)) {
    padding: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
  }
  [data-favorite-id] {
    right: 10px;
  }
  &-container {
    width: 100%;
  }

  &-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      width: 100%;
    }
  }
  > * {
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &:hover {
    @include shadow-hover;
  }
  &-image-wrapper {
    flex-basis: 100%;
    width: 100%;
    min-height: 200px;
    height: 200px;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid $app-color-delimiter;
    transition: filter 0.3s ease-in-out;
    position: relative;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      min-height: 150px;
      max-height: 150px;
    }
    &:hover {
      span {
        filter: brightness(1.1);
      }
    }
    span {
      width: 100%;
      height: 100%;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &-image-alternative {
    display: none !important;
  }

  &-label-text {
    position: absolute;
    right: 20px;
    top: 0;
    color: $app-color-white;
    background-color: $app-color-error;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    @include br-small;
    font-size: $fontsize-small;
  }

  &-title {
    flex-basis: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    align-self: flex-start;
    line-height: 1.2;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
    }
    a {
      color: $app-color-black;
      text-decoration: none;
      font-size: $fontsize-small;
      line-height: 1.2;
      &:hover {
        color: $app-color-black;
        text-decoration: underline;
      }
    }
  }

  &-hidden {
    display: none;
  }

  &-info-container {
    &[data-entity="price-block"] {
      flex-basis: 50%;
      max-width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-right: 0;
      align-self: flex-end;
      @media (max-width: map_get($grid-breakpoints, sm)) {
        padding-left: 0;
        justify-content: flex-end;
        width: 100%;
        max-width: 100%;
        text-align: center;
      }
    }
    &[data-entity="buttons-block"] {
      padding-left: 0;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: map_get($grid-breakpoints, sm)) {
        display: none;
      }
    }
  }

  &-price-current {
    font-size: $fontsize-normal !important;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      font-size: $fontsize-h5 !important;
    }
  }

}
