// SLIDER

.slider {
  flex-basis: 73%;
  max-width: 73%;
  overflow: hidden;
  position: relative;
  @media (max-width: map_get($grid-breakpoints, sm)) {
    flex-basis: 100%;
    max-width: 100%;
  }

  &--wrapper {
    @include br-small;
    overflow: hidden;
  }

  &--nav {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 1;
    display: flex;
    .owl-prev,
    .owl-next {
      user-select: none;
      cursor: pointer;
      color: $app-color-white;
      font-size: 2.5rem;
      padding: 5px 15px;
      text-shadow: 0 0 24px $app-color-primary;
      line-height: 0.6;
      height: 40px;
      max-height: 40px;
      display: flex;
      align-items: center;
      &:hover,
      &:hover span {
        color: $app-color-primary;
      }
    }
  }

  &--item {
    height: 350px;
    min-height: 350px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      height: 200px;
      min-height: 200px;
    }
    &--title {
      align-self: flex-end;
      text-align: right;
      color: $app-color-white;
      text-shadow: 0 0 24px $app-color-primary;
      font-size: $fontsize-h2;
      margin-bottom: 20px;
      @include headfont;
      line-height: 1.2;
    }
    &--link {
      align-self: flex-end;
      text-indent: -9999em;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      a {
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
  }

  &--catalog-link {
    flex-basis: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    a {
      @include br-small;
      text-decoration: none;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      width: 100%;
      flex-basis: 100%;
      background-color: $app-color-primary;
      color: $app-color-white;
      font-size: $fontsize-h5;
      @include mediumfont;
      padding: 10px 20px;
      &:hover {
        @include shadow-hover;
      }
    }
    @media (max-width: map_get($grid-breakpoints, sm)) {
      display: flex;
    }
  }

}
