.dispno{
    display: none;
}
.bx-soa-section-content .col-sm-12:last-child {
    display: none;
}
@media screen and (min-width:120px) and (max-width:770px) {
    .pagi_scr{
        overflow: auto;
    }
#products .pagination li {
    height: 80px;
    width: 80px;
}
#products_example #products .pagination {
    overflow: auto !important;
    height: 80px;
}

    .style_tabl{
        display: table;
    padding: inherit;    display: table;
    padding: 0;
    /* width: 100vw; */
    margin: 0;
    }
    .style_tabl_foo{
        display: table-footer-group;
    }
    .bx-breadcrumb{
        display: none;
    }
    .tovar33 {
        float: unset !important;
        display: grid;
        width: 75%;
        /*margin: 5px auto !important;*/
        /*display: block;*/

    margin: 0 auto !important;
    }
    .bx_catalog_list_home.col5 .bx_catalog_item{
    width: 75% !important;
    padding: 0 !important;
    padding-bottom: 10px !important;
    height: auto !important;
    left: 0;
    right: 0;
    display: block;
    align-self: center;
    }
    .bx_catalog_list_home {
    padding: 0px!important;    
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        width: 85vw;
    margin:0;
    /*margin: 5px auto !important;*/
    }
    .tovvaa .tovar:hover {
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 5px;
    min-height: unset !important;
    }
}

    .dispno #colorlib-hero0 {    display: block;
        width: 100% !important;
        margin: 0 !important;
        height: auto;
        float: unset;
    }
    .dispno #colorlib-hero0 .flexslider1 .slides1{
        padding: 0px;
        margin: 0px;
    }
    .dispno #colorlib-hero0 .flexslider1 .slides1 li{
        background-size: cover;
        background-position-x: left;
        background-repeat: no-repeat;
        width: 100% !important;
        height: 250px !important;
        background-position-y: bottom;
    }
    .dispno #colorlib-hero0 .flexslider1 .slides1 li .container .slider-text .slider-text-inner{
        width: 45%;
        position: absolute;
        right: 0;
        top: 25px;
        text-shadow: 0px 1px #fff;
        padding: 5px;
    }
    .dispno #colorlib-hero0 .flexslider1 .slides1 li .container .slider-text .slider-text-inner h4{
        padding-bottom: 5px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 15px;
        padding-top: 5px;
        margin-top: 15px;
        font-size: 1em;
        line-height: 1.2em;
    }
    .dispno #colorlib-hero0 .flexslider1 .slides1 li .container .slider-text .slider-text-inner p a.btn{
        padding: 5px 0px !important;
        color: #fff;
        margin-top: 10px;
        text-shadow: 0px 0px #fff !important;
        z-index: 100 !important;
        font-size: 0.8em;
    }

@media screen and (min-width:480px) and (max-width:770px) {
    .dispno{
    display: block;
    }
    .dispno a{
    color: #000;
    }
    .dispno label{
        padding-left: 20px;
        }
        #bx-soa-total-mobile,#bx-soa-total{
            display: none !important;
        }.bx-soa-pp-desc-container .bx-soa-pp-company-logo{display: none;}
        .basket-item-image {
            max-width: 100px !important;
            }
            .basket-item-amount-btn-minus {margin-left: 10px; }
            .basket-item-amount-btn-plus, .basket-item-amount-btn-minus {
                position: relative;
                width: 25px;
                padding: 0px 0px;
                height: 0px;
                margin-top: 15px;
                cursor: pointer;
                border: 0px solid #000 !important;
                transition: 300ms all ease;
                -webkit-user-select: none;
            }.basket-item-property-name {
                font-size: 11px;
                float: left;
                display: inline-block;
                clear: both;
            }.basket-item-block-properties details, summary {
                clear: both;
                display: block;
                padding: 5px;
            }.basket-items-list-item-amount{
                padding: 0px !important;
                margin: 0px;}.basket-item-block-image{margin: 0px !important;}
                td.basket-items-list-item-remove {
                padding: 0!important;
                text-align: center;
                position: absolute;
                height: 0px !important;
                right: 0px;
                text-align: right;
                }
                .basket-item-price-current-text,.basket-item-price-current-text{font-size: 16px;}
                .basket-items-list{padding:0px !important;}
                div.bx-blue .btn.btn-default {padding: 5px 30px !important;}
                .btn .btn-lg {padding: 10px 40px !important;}
                .basket-item-property, .basket-item-property-custom{padding-bottom: 0px;}
                .basket-item-info-name span {
                    font-size: 22px;
                    line-height: 30px;
                }
}

@media screen and (max-width:479px) {
  /* Target portrait smartphones */
    .dispno{
    display: block;
    }
    .dispno a{
    color: #000;
    }
    .dispno label{
        padding-left: 20px;
        }
        #bx-soa-total-mobile,#bx-soa-total{
            display: none !important;
        }
    .bx-soa-pp-company-graf-container {
        padding-top: 20% !important;
        }.bx-soa-pp-desc-container .bx-soa-pp-company-logo{display: none;}
        .basket-item-image {
            max-width: 100px !important;
            }
            .basket-item-amount-btn-minus {margin-left: 10px; }
            .basket-item-amount-btn-plus, .basket-item-amount-btn-minus {
                position: relative;
                width: 25px;
                padding: 0px 0px;
                height: 0px;
                margin-top: 15px;
                cursor: pointer;
                border: 0px solid #000 !important;
                transition: 300ms all ease;
                -webkit-user-select: none;
            }.basket-item-property-name {
                font-size: 11px;
                float: left;
                display: inline-block;
                clear: both;
            }.basket-item-block-properties details, summary {
                clear: both;
                display: block;
                padding: 5px;
            }.basket-items-list-item-amount{
                padding: 0px !important;
                margin: 0px;}.basket-item-block-image{margin: 0px !important;}
                td.basket-items-list-item-remove {
                padding: 0!important;
                text-align: center;
                position: absolute;
                height: 0px !important;
                right: 0px;
                text-align: right;
                }
                .basket-item-price-current-text,.basket-item-price-current-text{font-size: 16px;}
                .basket-items-list{padding:0px !important;}
                div.bx-blue .btn.btn-default {padding: 5px 30px !important;}
                .btn .btn-lg {padding: 10px 40px !important;}
                .basket-item-property, .basket-item-property-custom{padding-bottom: 0px;}
                .basket-item-info-name span {
                    font-size: 22px;
                    line-height: 30px;
                }
}


@media screen and (min-width:371px) and (max-width:478px) {
    .ac-container article {
        text-align: left;
        margin-top: -5px;
        background: #ffffff;
        width: 100%;
        z-index: 99;
    }.ac-container label {
    margin: 0px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    }.ac-container {
    display: block;
    width: 100%;
    }
    .dispno{
    display: block;
    }
    .dispno a{
    color: #000;
    }
    .dispno label{
        padding-left: 20px;
        }
        #bx-soa-total-mobile,#bx-soa-total{
            display: none !important;
        }
    .bx-soa-pp-company-graf-container {
        padding-top: 20% !important;
        }.bx-soa-pp-desc-container .bx-soa-pp-company-logo{display: none;}
        .basket-item-image {
            max-width: 100px !important;
            }
            .basket-item-amount-btn-minus {margin-left: 10px; }
            .basket-item-amount-btn-plus, .basket-item-amount-btn-minus {
                position: relative;
                width: 25px;
                padding: 0px 0px;
                height: 0px;
                margin-top: 15px;
                cursor: pointer;
                border: 0px solid #000 !important;
                transition: 300ms all ease;
                -webkit-user-select: none;
            }.basket-item-property-name {
                font-size: 11px;
                float: left;
                display: inline-block;
                clear: both;
            }.basket-item-block-properties details, summary {
                clear: both;
                display: block;
                padding: 5px;
            }.basket-items-list-item-amount{
                padding: 0px !important;
                margin: 0px;}.basket-item-block-image{margin: 0px !important;}
                td.basket-items-list-item-remove {
                padding: 0!important;
                text-align: center;
                position: absolute;
                height: 0px !important;
                right: 0px;
                text-align: right;
                }
                .basket-item-price-current-text,.basket-item-price-current-text{font-size: 16px;}
                .basket-items-list{padding:0px !important;}
                div.bx-blue .btn.btn-default {padding: 5px 30px !important;}
                .btn .btn-lg {padding: 10px 40px !important;}
                .basket-item-property, .basket-item-property-custom{padding-bottom: 0px;}
                .basket-item-info-name span {
                    font-size: 22px;
                    line-height: 30px;
                }
}

@media screen and (min-width:320px)  and (max-width:370px) {
    .ac-container article {
        text-align: left;
        margin-top: -5px;
        background: #ffffff;
        width: 100%;
        z-index: 99;
    }.ac-container label {
    margin: 0px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    }.ac-container {
    display: block;
    width: 100%;
    }
    .search {
    padding-left: 0px !important;
    width:240px;
    }
    .search input[type="submit"]{
    width:220px;
    }.colorlib-nav #colorlib-logo {
    width: 100%;
    padding: 0px;
    }
    .dispno{
    display: block;
    }
    .dispno a{
    color: #000;
    }
    .dispno label{
        padding-left: 20px;
        }
        #bx-soa-total-mobile,#bx-soa-total{
            display: none !important;
        }
    .bx-soa-pp-company-graf-container {
        padding-top: 20% !important;
        }.bx-soa-pp-desc-container .bx-soa-pp-company-logo{display: none;}
        .basket-item-image {
            max-width: 100px !important;
            }
            .basket-item-amount-btn-minus {margin-left: 10px; }
            .basket-item-amount-btn-plus, .basket-item-amount-btn-minus {
                position: relative;
                width: 25px;
                padding: 0px 0px;
                height: 0px;
                margin-top: 15px;
                cursor: pointer;
                border: 0px solid #000 !important;
                transition: 300ms all ease;
                -webkit-user-select: none;
            }.basket-item-property-name {
                font-size: 11px;
                float: left;
                display: inline-block;
                clear: both;
            }.basket-item-block-properties details, summary {
                clear: both;
                display: block;
                padding: 5px;
            }.basket-items-list-item-amount{
                padding: 0px !important;
                margin: 0px;}.basket-item-block-image{margin: 0px !important;}
                td.basket-items-list-item-remove {
                padding: 0!important;
                text-align: center;
                position: absolute;
                height: 0px !important;
                right: 0px;
                text-align: right;
                }
                .basket-item-price-current-text,.basket-item-price-current-text{font-size: 16px;}
                .basket-items-list{padding:0px !important;}
                div.bx-blue .btn.btn-default {padding: 5px 30px !important;}
                .btn .btn-lg {padding: 10px 40px !important;}
                .basket-item-property, .basket-item-property-custom{padding-bottom: 0px;}
                .basket-item-info-name span {
                    font-size: 22px;
                    line-height: 30px;
                } 
}

@media screen and (min-width:120px)  and (max-width:320px) {
    .bx-soa-pp-company-graf-container {
        padding-top: 20% !important;
    }
    .bx_catalog_list_home {
    padding: 0px !important;    
    display: block !important;
    }    
    .bx_catalog_list_home.col5 .bx_catalog_item{
    width: 75% !important;
    }
        .style_tabl{
        display: table;
    padding: inherit;
    }
}
@media screen and (min-width:120px)  and (max-width:319px) {
    .ac-container article {
        text-align: left;
        margin-top: -5px;
        background: #ffffff;
        width: 100%;
        z-index: 99;
    }.ac-container label {
    margin: 0px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    }.ac-container {
    display: block;
    width: 100%;
    }
    .search {
    padding-left: 0px !important;
    width:200px;
    }
    .search input[type="submit"]{
    width:180px;
    }.colorlib-nav #colorlib-logo {
    width: 100%;
    padding: 0px;
    }
    .dispno{
    display: block;
    }
    .dispno a{
    color: #000;
    }
    .dispno label{
        padding-left: 20px;
        }
        #bx-soa-total-mobile,#bx-soa-total{
            display: none !important;
        }.bx-soa-pp-desc-container .bx-soa-pp-company-logo{display: none;}
        .basket-item-image {
            max-width: 100px !important;
            }
            .basket-item-amount-btn-minus {margin-left: 10px; }
            .basket-item-amount-btn-plus, .basket-item-amount-btn-minus {
                position: relative;
                width: 25px;
                padding: 0px 0px;
                height: 0px;
                margin-top: 15px;
                cursor: pointer;
                border: 0px solid #000 !important;
                transition: 300ms all ease;
                -webkit-user-select: none;
            }.basket-item-property-name {
                font-size: 11px;
                float: left;
                display: inline-block;
                clear: both;
            }.basket-item-block-properties details, summary {
                clear: both;
                display: block;
                padding: 5px;
            }.basket-items-list-item-amount{
                padding: 0px !important;
                margin: 0px;}.basket-item-block-image{margin: 0px !important;}
                td.basket-items-list-item-remove {
                padding: 0!important;
                text-align: center;
                position: absolute;
                height: 0px !important;
                right: 0px;
                text-align: right;
                }
                .basket-item-price-current-text,.basket-item-price-current-text{font-size: 16px;}
                .basket-items-list{padding:0px !important;}
                div.bx-blue .btn.btn-default {padding: 5px 30px !important;}
                .btn .btn-lg {padding: 10px 40px !important;}
                .basket-item-property, .basket-item-property-custom{padding-bottom: 0px;}
                .basket-item-info-name span {
                    font-size: 22px;
                    line-height: 30px;
                }
}