// BREADCRUMB

.breadcrumb {
  margin: 0 0 10px;
  padding: 0;
  background-color: $app-color-background;
  &--wrapper {
    min-height: 30px;
    .bx-breadcrumb {
      margin: 5px 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-height: 30px;
    }
    .bx-breadcrumb-item {
      font-size: $fontsize-normal;
      display: inline-flex;
      margin: 0 10px 0 0 !important;
      a {
        text-decoration: none;
        span {
          @include redularfont;
          text-decoration: none;
        }
      }
      span {
        font-family: inherit !important;
        text-decoration: none;
      }
    }
  }

}
