// FOOTER

.footer {
  background-color: $app-color-gray;
  color: $app-color-notice;

  &--menu {
    background-color: $app-color-gray-light;
    padding-top: $size-padding;
    padding-bottom: $size-padding;
  }

  &--bottom {
    background-color: $app-color-gray;
    color: $app-color-notice;
    padding-top: $size-padding;
    padding-bottom: $size-padding;
    font-size: $fontsize-small;
    a {
      color: $app-color-white;
      &:hover {
        color: $app-color-white;
      }
    }
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      color: $app-color-white;
    }

    &--regions {
      margin-bottom: $size-padding-small;
      margin-right: $size-padding;
      display: flex;
      flex-wrap: wrap;
      flex-basis: 300px;
      @media (max-width: map_get($grid-breakpoints, sm)) {
        flex-basis: 100%;
      }
      &-label {
        flex-basis: 100%;
        color: $app-color-white;
        margin-bottom: 5px;
        margin-right: 10px;
        @include mediumfont;
      }
      &-items {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        a {
          flex-basis: 50%;
          text-decoration: none;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    &--contacts {
      margin-bottom: $size-padding-small;
      margin-right: $size-padding;
      flex-basis: 260px;
      @media (max-width: map_get($grid-breakpoints, sm)) {
        flex-basis: 100%;
      }
      &-content {
        p {
          margin: 0 0 10px;
          a {
            margin-bottom: 10px;
            &[href^="tel:"] {
              @include mediumfont;
            }
            &[href^="mailto:"] {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    &--info {
      margin-bottom: $size-padding-small;
      margin-right: $size-padding;
      flex-basis: 260px;
      p {
        margin-bottom: 10px;
      }
    }

    &--prices-info {
      font-size: $fontsize-smaller;
      color: $app-color-gray-lighter;
      margin-right: $size-padding;
      line-height: 1.1;
    }

    &--socials {
      margin-bottom: $size-padding-small;
      display: flex;
      flex-wrap: wrap;
      &-icons {}
      &-messengers {}
    }

    &--copyrights {
      border-top: 1px solid rgba($app-color-delimiter, 0.3);
      flex-basis: 100%;
      color: $app-color-white;
      background-color: $app-color-gray;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: $fontsize-small;
      &-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: baseline;
        @media (max-width: map_get($grid-breakpoints, sm)) {
          flex-wrap: wrap;
        }
        a {
          color: $app-color-white;
        }
      }
      &-copy {
        margin-right: 40px;
        @media (max-width: map_get($grid-breakpoints, sm)) {
          flex-basis: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      &-policy {
        margin-right: 40px;
        @media (max-width: map_get($grid-breakpoints, sm)) {
          flex-basis: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      &-developer {
        a {
          display: flex;
          align-items: center;
        }
        img {
          margin-left: 10px;
          max-width: 80px;
        }
      }
    }

  }

}
