// FOOTER MENU

.footer--menu {
  @media (max-width: map_get($grid-breakpoints, sm)) {
    display: none;
  }

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &--title {
    color: $app-color-white;
    margin-bottom: 10px;
    @include mediumfont;
    line-height: 1.1;
  }

  &--items {
    flex-basis: calc(16.666% - 20px);
    margin-right: $size-padding-small;
    @media (max-width: map_get($grid-breakpoints, sm)) {
      flex-basis: calc(50% - 20px);
      margin-bottom: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 0 0 10px;
        padding: 0;
        flex-basis: 100%;
        width: 100%;
        line-height: 1.1;
        a {
          color: $app-color-notice;
          text-decoration: none;
          &:hover {
            color: $app-color-white;
            text-decoration: underline;
          }
        }
      }
    }
  }

}
