// FOOTER

.footer {
  background-color: $app-color-gray;
  color: $app-color-notice;

  &--menu {
    background-color: $app-color-gray-light;
    padding-top: $size-padding;
    padding-bottom: $size-padding;
  }

  &--bottom {
    background-color: $app-color-gray;
    color: $app-color-notice;
    padding-top: $size-padding;
    padding-bottom: $size-padding;
    font-size: $fontsize-small;
    a {
      color: $app-color-white;
      &:hover {
        color: $app-color-white;
      }
    }
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &--regions {
      margin-bottom: $size-padding-small;
      display: flex;
      flex-wrap: wrap;
      &-label {
        color: $app-color-white;
        margin-bottom: 5px;
        margin-right: 10px;
        @include mediumfont;
      }
      &-items {}
    }
    &--contacts {
      margin-bottom: $size-padding-small;
      &-label {
        color: $app-color-white;
        margin-bottom: 5px;
        @include mediumfont;
      }
      &-content {
        p {
          margin: 0;
        }
      }
    }
    &--copyrights {
      color: $app-color-notice;
    }
    &--info {
      padding-top: $size-padding;
      color: $app-color-gray-lighter;
      text-transform: uppercase;
      font-size: $fontsize-h5;
    }

  }

}
