// HEADER

.header {

  // TOP BAR

  &--topbar {
    background-color: $app-color-background;
    padding-top: 10px;
    padding-bottom: 10px;
    &--wrapper {
      display: flex;
      justify-content: space-between;
    }
    &--left {
      display: flex;
      align-items: center;
      flex-basis: 55%;
      .kalinza-icon {
        margin-right: 5px;
      }
      .altasib_geobase_link {
        margin-right: 50px;
        &_city {
          color: $app-color-black;
        }
      }
      ul.menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        li {
          margin: 0 5px;
          padding: 0;
          a {
            color: $app-color-black;
            text-decoration: none;
            &:hover,
            &:focus {
              text-decoration: underline;
              color: $app-color-black;
            }
          }
        }
      }
    }
    &--right {
      display: flex;
      justify-content: flex-end;
      .kalinza-icon {
        color: $app-color-gray;
      }
      a {
        &:hover {
          color: $app-color-black;
        }
        &.button_modal {
          color: $app-color-black;
        }
      }
    }

    // FAVORITES

    &--favorites {
      margin-right: 50px;
      position: relative;
      &-counter {
        background-color: $app-color-error;
        color: $app-color-white;
        position: absolute;
        right: -12px;
        top: 0;
        border-radius: 50%;
        font-size: 0.7em;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
      }
    }

  }

  // HEADER

  &--header {
    padding-top: $size-padding-small;
    padding-bottom: $size-padding-small;
    &--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    // LOGO

    &--logo {
      flex-basis: 260px;
      a {
        img {
          max-width: 260px;
        }
      }
    }

    // SEARCH

    &--search {
      flex-grow: 1;
      margin-left: $size-padding-large;
      margin-right: $size-padding-large;
      .search {
        width: 100%;
        padding: 0;
        form {
          position: relative;
          width: 100%;
        }
      }
      input[type="search"] {
        width: 100%;
        margin: 0;
        height: 34px;
        line-height: 32px;
        border-radius: 4px;
        padding-right: 50px;
        color: $app-color-black;
        &:focus,
        &:hover {
          border-color: $app-color-black;
        }
      }
      input[type="submit"] {
        background-color: transparent;
        border: 0;
        background-image: url("../images/svg/search.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        display: flex;
        height: 34px;
        line-height: 34px;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
          background-size: 18px;
        }
      }
    }

    // CONTACTS

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 260px;
      &-phone {
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        a[href^="tel:"] {
          @include mediumfont;
          color: $app-color-black;
          text-decoration: none;
          font-size: $fontsize-h3;
          line-height: 1;
          &:hover {
            color: $app-color-gray;
            text-decoration: underline;
          }
        }
      }
      &-callback {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        a {
          font-size: $fontsize-small;
          color: $app-color-gray;
          &:hover {
            color: $app-color-black;
          }
        }
      }
      &-messengers {
        display: flex;
        justify-content: flex-end;
        a {
          margin-left: 8px;
        }
      }
    }

  }

}
