// HEADER

.header {

  // TOP BAR

  &--topbar {
    background-color: $app-color-background;
    padding-top: 10px;
    padding-bottom: 10px;
    &--wrapper {
      display: flex;
      justify-content: space-between;
    }
    &--left {
      display: flex;
      align-items: center;
      .kalinza-icon {
        margin-right: 5px;
      }
      .altasib_geobase_link {
        margin-right: 10px;
        &_city {
          color: $app-color-active;
          &:hover {
            color: $app-color-active-hover;
          }
        }
      }
      ul.menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li {
          margin: 0 5px;
          padding: 0;
          a {
            color: $app-color-gray;
            &:hover,
            &:focus {
              color: $app-color-black;
            }
          }
        }
      }
    }
    &--right {
      display: flex;
      justify-content: flex-end;
      a.button_modal {
        color: $app-color-black;
      }
    }
  }

  // HEADER

  &--header {
    padding-top: $size-padding-small;
    padding-bottom: $size-padding-small;
    &--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    // LOGO

    &--logo {
      a {
        img {
          max-width: 260px;
        }
      }
    }

    // SEARCH

    &--search {}

    // CONTACTS

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      &-phone {
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        a[href^="tel:"] {
          color: $app-color-black;
          text-decoration: none;
          font-size: $fontsize-h3;
          line-height: 1;
          &:hover {
            color: $app-color-gray;
            text-decoration: underline;
          }
        }
      }
      &-callback {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        a {
          font-size: $fontsize-small;
          color: $app-color-gray-light;
          &:hover {
            color: $app-color-black;
          }
        }
      }
      &-messengers {
        display: flex;
        justify-content: flex-end;
        a {
          margin-left: 8px;
        }
      }
    }

  }

}
