// HEADER MOBILE

.header--mobile {
  display: none;
  height: 42px;
  background-color: $app-color-white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  @include shadow-hover;
  @media (max-width: map_get($grid-breakpoints, sm)) {
    display: flex;
  }
  &--wrapper {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      max-width: 16px;
      height: 16px;
      color: $app-color-black;
    }
  }
  &--menu {
    margin-right: 15px;
  }
  &--search {
    margin-left: 15px;
    margin-right: 15px;
  }
  &--logo {
    margin-left: 15px;
    margin-right: 15px;
    a {
      img {
        max-width: 115px;
      }
    }
  }
  &--cart {
    margin-left: auto;
    margin-right: 10px;
    position: relative;
    &-counter {
      font-size: 0.7em;
      display: inline-flex;
      background-color: $app-color-error;
      color: $app-color-white;
      border-radius: 8px;
      min-width: 16px;
      height: 16px;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -10px;
      bottom: -6px;
    }
  }

}

// popup

.header--mobile--menu-popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &.active {
    display: flex;
  }
  a {
    color: $app-color-black;
    &:hover {
      color: $app-color-primary;
    }
  }
}

.mobile-menu {

  &--header {
    height: 42px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
  }
  &--close {
    .kalinza-icon {
      color: $app-color-primary;
      &:hover {
        color: $app-color-error;
      }
    }
  }
  &--logo {}

  &--location {
    padding: 15px 25px;
    &-icon {
      margin-right: 10px;
      .kalinza-icon {
        color: $app-color-black;
      }
    }
    &-city {}
  }
  &--auth {
    padding: 15px 25px;
  }
  &--catalog {
    padding: 15px 25px;
  }
  &--menu {
    padding: 15px 25px;
  }
  &--footer {
    padding: 15px 25px;
    &--phone {}
    &--callback {}
    &--socials {}
  }

}
