// MODAL WINDOWS

.modal {
  &-dialog {
    @include shadow;
    background-color: $app-color-white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
	align-content: flex-start;

	@media (min-width: 768px) {
		padding: 50px 70px;
	}

	@media (max-width: 767px) {
		padding: 30px 20px;
		min-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

    &-centered {
      min-height: initial !important;
    }
  }

  &-title {
    font-size: $fontsize-h4;
    color: $app-color-active;
    line-height: 1.2;
    text-align: center;
  }

  &-header {
    padding: 0 20px;
    flex-basis: 100%;
    border: none;
    display: flex;
    justify-content: center;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &-content {
    max-width: 100%;
    flex-basis: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .form-group {
      display: flex;
      flex-wrap: wrap;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $app-color-border;
      &:last-of-type {
        border-bottom: none;
      }
      &-title {
        text-transform: uppercase;
        color: $app-color-active;
        flex-basis: 50%;
        font-size: $fontsize-smaller;
        padding-right: 30px;
        text-align: left;
      }
      .form-radios {
        flex-basis: 50%;
        .form-group {
          border: none;
          padding: 0;
        }
      }
      label {
        color: $app-color-active;
      }
      input[type="number"],
      input[type="text"] {
        width: auto;
        max-width: 95px;
        margin-right: 10px;
        height: 38px;
        line-height: 38px;
      }
      textarea {
        max-width: 100%;
      }
    }
  }

  &-footer {
    flex-basis: 100%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    &-addtocart-done {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &-buttons-block {
      display: flex;
      align-items: center;
    }
  }

}

.modal.show .modal-dialog {
  pointer-events: initial;
}
