// MODAL WINDOWS

.modal {
  &-open {
    opacity: 1;
  }
  &-body {
    .errortext {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &--stars {
      .stars-inputs {
        text-align: center;
        justify-content: center;
      }
    }
  }
  .close {
    margin: 0;
    background-color: transparent;
    color: $app-color-black !important;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 1.2rem;
    &:hover {
      background-color: transparent;
      color: $app-color-error;
    }
  }
  &-dialog {
    @include shadow;
    background-color: $app-color-white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
    padding: 30px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    @include br-small;

    &-centered {
      min-height: initial !important;
    }

  }

  &-title {
    font-size: $fontsize-h4;
    color: $app-color-black;
    line-height: 1.2;
    text-align: center;
    flex-basis: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-header {
    padding: 0 20px;
    flex-basis: 100%;
    border: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .modal-logo {
      flex-basis: 100%;
      img {
        max-width: 80%;
      }
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &-content {
    max-width: 100%;
    flex-basis: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    box-shadow: none;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .form-group {
      display: flex;
      flex-wrap: wrap;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $app-color-border;
      &:last-of-type {
        border-bottom: none;
      }
      &-title {
        text-transform: uppercase;
        color: $app-color-active;
        flex-basis: 50%;
        font-size: $fontsize-smaller;
        padding-right: 30px;
        text-align: left;
      }
      .form-radios {
        flex-basis: 50%;
        .form-group {
          border: none;
          padding: 0;
        }
      }
      label {
        color: $app-color-active;
      }
      input[type="number"],
      input[type="text"] {
        width: auto;
        max-width: 95px;
        margin-right: 10px;
        height: 38px;
        line-height: 38px;
      }
      textarea {
        max-width: 100%;
      }
    }
    .form-field {
      display: flex;
      flex-wrap: wrap;
      label {
        flex-basis: 100%;
        width: 100%;
        text-align: left;
        font-size: $fontsize-smaller;
        margin-bottom: 0;
        color: $app-color-gray;
      }
      input {
        flex-basis: 100%;
        width: 100%;
      }
      p {
        flex-basis: 100%;
        width: 100%;
      }
      noindex {
        flex-basis: 100%;
        width: 100%;
      }
    }
    .form-privacy {
      text-align: left;
      padding: 0 20px;
      label {
        color: $app-color-gray-light;
        line-height: 1;
        margin-top: 10px;
        font-size: $fontsize-small;
      }
    }
  }

  &-footer {
    flex-basis: 100%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    &-addtocart-done {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &-buttons-block {
      display: flex;
      align-items: center;
    }
  }

}

.modal.show {
  opacity: 1;
  .modal-dialog {
    pointer-events: initial;
  }
}

// SPECIFIC STYLES

#modal--review {
  .modal-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $app-color-black;
  }
  .modal-product-name {
    color: $app-color-gray-lighter;
  }
  .modal-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .modal-body {
    padding-top: 0;
  }
  .modal-errors {
    text-align: center;
    font-size: $fontsize-smaller;
    color: $app-color-error;
    width: 100%;
    flex-basis: 100%;
    line-height: 1.1;
    margin-bottom: 10px;
    display: none;
    &.error {
      color: $app-color-error;
    }
    &.success {
      color: $app-color-active;
    }
  }
  #review-message {
    width: 100%;
  }
}
