// NAVIGATION

$nav-height: 40px;

.navigation {
  background-color: $app-color-primary;
  color: $app-color-white;
  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // MAIN MENU

  ul.menu {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: $nav-height;
    li {
      height: 100%;
      display: flex;
      align-items: center;
      a {
        padding: 0 10px;
        min-height: $nav-height;
        display: flex;
        align-items: center;
        color: $app-color-white;
        text-decoration: none;
        &:hover {
          background-color: $app-color-active-hover;
          text-decoration: none;
          color: $app-color-black;
          .kalinza-icon {
            color: $app-color-black;
          }
        }
        &.active {
          background-color: $app-color-active;
        }
      }
      &.has-dropdown {

      }

      > ul.dropdown {
        display: none;
        li {
          a {
            &:hover {

            }
            &.active {

            }
          }
        }
      }

    }
  }

  // BASKET

  .bx-basket {
    display: flex;
    align-items: center;
    min-height: $nav-height;
    p {
      margin: 0;
      display: block;
      width: 100%;
      height: $nav-height;
    }
    .kalinza-icon {
      margin-right: 5px;
      color: $app-color-white;
    }
    a {
      color: $app-color-white;
      text-decoration: none;
      height: $nav-height;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        background-color: $app-color-active-hover;
        color: $app-color-black;
        .kalinza-icon {
          color: $app-color-black;
        }
      }
    }
  }

}
