.kalinza-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.kalinza-icon-arrow-down {
	font-size:(6/10)*1rem;
	width:(9/6)*1em;
}
.kalinza-icon-arrow-left {
	font-size:(23/10)*1rem;
	width:(15/23)*1em;
}
.kalinza-icon-arrow-left-b {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.kalinza-icon-arrow-left-line {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.kalinza-icon-arrow-left-w {
	font-size:(23/10)*1rem;
	width:(15/23)*1em;
}
.kalinza-icon-arrow-right {
	font-size:(23/10)*1rem;
	width:(15/23)*1em;
}
.kalinza-icon-arrow-right-b {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.kalinza-icon-arrow-right-line {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.kalinza-icon-arrow-right-w {
	font-size:(23/10)*1rem;
	width:(15/23)*1em;
}
.kalinza-icon-arrow-up {
	font-size:(5/10)*1rem;
	width:(9/5)*1em;
}
.kalinza-icon-cart {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-checkbox-checked {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-checkbox-unchecked {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-close {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.kalinza-icon-delivery-truck {
	font-size:(42/10)*1rem;
	width:(42/42)*1em;
}
.kalinza-icon-discount {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.kalinza-icon-document {
	font-size:(20/10)*1rem;
	width:(15/20)*1em;
}
.kalinza-icon-dots {
	font-size:(5/10)*1rem;
	width:(18/5)*1em;
}
.kalinza-icon-edit {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.kalinza-icon-exchange {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.kalinza-icon-eye {
	font-size:(9/10)*1rem;
	width:(15/9)*1em;
}
.kalinza-icon-eye-big {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.kalinza-icon-eye-glasses {
	font-size:(38/10)*1rem;
	width:(38/38)*1em;
}
.kalinza-icon-facebook {
	font-size:(19/10)*1rem;
	width:(10/19)*1em;
}
.kalinza-icon-heart {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-heart-red {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-info {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-info-circle {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-instagram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.kalinza-icon-key {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-link {
	font-size:(13/10)*1rem;
	width:(12/13)*1em;
}
.kalinza-icon-location {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-menu {
	font-size:(11/10)*1rem;
	width:(18/11)*1em;
}
.kalinza-icon-message {
	font-size:(20/10)*1rem;
	width:(23/20)*1em;
}
.kalinza-icon-minus {
	font-size:(1/10)*1rem;
	width:(11/1)*1em;
}
.kalinza-icon-odnoklassniki {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-ok {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-plus {
	font-size:(11/10)*1rem;
	width:(11/11)*1em;
}
.kalinza-icon-radio-checked {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-radio-unchecked {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-refresh {
	font-size:(18/10)*1rem;
	width:(20/18)*1em;
}
.kalinza-icon-rouble {
	font-size:(17/10)*1rem;
	width:(12/17)*1em;
}
.kalinza-icon-search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.kalinza-icon-shopping-cart {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-skype {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-telegram {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-throbber {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.kalinza-icon-unwrap {
	font-size:(4/10)*1rem;
	width:(8/4)*1em;
}
.kalinza-icon-up {
	font-size:(16/10)*1rem;
	width:(30/16)*1em;
}
.kalinza-icon-user {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.kalinza-icon-viber {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-vk {
	font-size:(12/10)*1rem;
	width:(19/12)*1em;
}
.kalinza-icon-wallet {
	font-size:(37/10)*1rem;
	width:(37/37)*1em;
}
.kalinza-icon-whatsapp {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.kalinza-icon-wrap {
	font-size:(4/10)*1rem;
	width:(8/4)*1em;
}
.kalinza-icon-youtube {
	font-size:(16/10)*1rem;
	width:(23/16)*1em;
}
