// VARIABLES

// COLORS

$app-color-white: #fff;
$app-color-black: #232122;

$app-color-primary: #5d9dd7;
$app-color-primary-light: #6eb9ff;
$app-color-secondary: #477dbf;

$app-color-active: #94c351;
$app-color-active-hover: lighten($app-color-active, 10%);

$app-color-border: #ccc;
$app-color-delimiter: #e6e6e6;
$app-color-background: #f7f7f7;

$app-color-gray: #444;
$app-color-gray-light: #666;
$app-color-gray-lighter: #848484;

$app-color-error: #eb5757;
$app-color-error-hover: lighten($app-color-error, 10%);

$app-color-footer-bg: #ebebeb;
$app-color-notice: #c4c4af;

// SIZES

$size-header: 90px;
$size-topnav: 68px;
$size-footer: 80px;
$size-footer-bottom: 80px;

$size-input: 36px;
$size-button: 36px;
$size-button-large: 50px;
$size-checkbox: 16px;
$size-tab: 36px;

$size-padding-large: 50px;
$size-padding: 30px;
$size-padding-small: 20px;

// FONT SIZES

$fontsize-title: 50px;

$fontsize-h1: 37px;
$fontsize-h2: 33px;
$fontsize-h3: 26px;
$fontsize-h4: 24px;
$fontsize-h5: 19px;
$fontsize-h6: 16px;

$fontsize-normal: 16px;
$fontsize-small: 15px;
$fontsize-smaller: 14px;
$fontsize-smallest: 12px;

$opacity: 0.74;
